/__pycache__
__pycache__

/zellegraphics.py
zellegraphics.py

/replace.py
replace.py

/zellegraphicsPPT
zelle-graphics.ppt

/seamusic.mp3
seamusic.mp3

/Pygame.py
Pygame.py

/miss.ogg
miss.ogg

/hit.ogg
hit.ogg

/definitions.pyc
definitions.pyc

/var.pyc
var.pyc

/zellegraphics.pyc
zellegraphics.pyc

/music and sounds
waves.mp3
victory.ogg
error.ogg
confirm.ogg